.wrapper {
	display: flex;
	width: 100%;
	&-v-center {
		align-items: center; 
	}
	&-v-end {
		align-items: flex-end;
	}
	&-g-center {
		justify-content: center;
	}
	&-col {
		flex-direction: column;
	}
	&-col-rev {
		flex-direction: column-reverse;
	}
	&-row {
		flex-direction: row;
	}
	&-space-beetween {
		justify-content: space-between;
	}
	&-f-start {
		justify-content: flex-start;	
	}
	&-f-end {
		justify-content: flex-end;
	}
}
.center-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}