@import url(myStyles.less);
// Fonts
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.eot');
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot');
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('OpenSans-Bold.ttf') format('truetype'),
       url('OpenSans-Bold.woff') format('woff'),
       url('OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('Muli-Regular.eot');
  src: url('Muli-Regular.eot?#iefix') format('embedded-opentype'),
       url('Muli-Regular.svg#Muli-Regular') format('svg'),
       url('Muli-Regular.ttf') format('truetype'),
       url('Muli-Regular.woff') format('woff'),
       url('Muli-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Bold';
  src: url('Muli-Bold.eot');
  src: url('Muli-Bold.eot?#iefix') format('embedded-opentype'),
       url('Muli-Bold.svg#Muli-Bold') format('svg'),
       url('Muli-Bold.ttf') format('truetype'),
       url('Muli-Bold.woff') format('woff'),
       url('Muli-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.osReg() {
  font-family: 'OpenSans-Regular', sans-serif;
}
.osBold() {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
}
.muliReg() {
  font-family: 'Muli-Regular', sans-serif;
}
.muliBold() {
  font-family: 'Muli-Bold', sans-serif;
  font-weight: bold;
}

// Colors

@white: #FFFFFF;
@green: #86BC42;
@grey: #9CA3AB;
@dark-grey: #6E788D;
@header-line: #4B5464;

.green-button {
    border: none;
    background-color: @green;
    color: @white;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    cursor: pointer;
}
.green-title {
    .muliReg();
    font-size: 1.6rem;
    color: @green;
}
.section-line {
    display: block;
    width: 10rem;
    height: 1px;
    background-color: @dark-grey;
    margin: 1rem auto;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 2rem;
    .muliBold();
    color: @dark-grey;
    text-align: center; 
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 0.08em;
}
.slider-arrows {
    margin: 3rem 40rem;
}
.Arrow-left {
    position: relative;
    width: 50px;
    height: 1px;
    background-color: @dark-grey;
    display: block;
    cursor: pointer;
    div::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 1px;
        top: -3px;
        left: -3.5px;
        background-color: @dark-grey;
        transform: rotate(-45deg);
    }
    div::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 1px;
        top: 3px;
        left: -3.5px;
        background-color: @dark-grey;
        transform: rotate(45deg);
    }
}
.Arrow-right {
    position: relative;
    width: 50px;
    height: 1px;
    background-color: @dark-grey;
    cursor: pointer;
    display: block;
    div::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 1px;
        top: -3px;
        right: -3.5px;
        background-color: @dark-grey;
        transform: rotate(45deg);
    }
    div::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 1px;
        top: 3px;
        right: -3.5px;
        background-color: @dark-grey;
        transform: rotate(-45deg);
    }
}
.switch {
    width: 6px;
    height: 6px;
    background-color: @dark-grey;
    border-radius: 50%;
    &-select {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid @dark-grey;
        border-radius: 50%;
    }
}

header {
    .osReg();
    .header {
        &-line {
            padding: 0 4rem;
            width: 100%;
            font-size: 1.4rem;
            color: @white;
            background-color: @header-line;
            .phone-number {
                margin-right: 3rem;
                &-img {
                    display: inline-block;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-right: .5rem;
                    background: url(../img/header/phone.png) center center no-repeat;
                    background-size: cover;
                }
            }
            .email {
                &-img{
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.1rem;
                    margin-right: .5rem;
                    background: url(../img/header/email.png) center center no-repeat;
                    background-size: cover;
                }
            }
            .title {
                .osBold();
                font-weight: 800;
                strong {
                    text-transform: uppercase;
                    color: @green;
                }
            }
            .login {
                margin-right: 2rem;
                &-img {
                    display: inline-block;
                    width: 3rem;
                    height: 2rem;
                    margin-right: 1rem;
                    background: url(../img/header/login.png) center center no-repeat;
                }
            }
            .reg {
                &-button {
                    border: none;
                    height: 4rem;
                    background-color: @green;
                    font-size: 1.6rem;
                    color: @white;
                    padding: 0 2.5rem;
                    .osBold();
                }
            }
        }
        &-nav {
            .osReg();
            font-size: 1.4rem;
            height: 3.5rem;
            padding: 0 7rem;
            &-link {
                color: @dark-grey;
                text-decoration: none;
                &-selected {
                    color: @green;
                }
            }
        }
    }
}
main {
    .regist-now {
        .muliReg();
        background: url(../img/reg-now/reg-now.png) center no-repeat;
        background-size: cover;
        padding: 8rem 12rem;
        &-form {
            background: rgba(47, 45, 55, 0.25); 
            padding: 4rem 20rem;
            h1 {
                .muliBold();
                font-weight: bold;
                text-align: center;
                color: @white;
                font-size: 2.4rem;
                line-height: 145%;
                strong {
                    font-size: 3.4rem;
                }                
            }
            form {
                background-color: @white;
                border-radius: 50px;
                padding: 2rem;
                margin-top: 4rem;
                margin-bottom: 3rem;
                input {
                    font-size: 1.4rem;
                    padding: 1rem;
                    border-radius: 50px;
                    border: 1px solid #8F8F8F;
                    margin-right: 1.5rem;
                }
                input:focus {
                    outline: none;
                }
            }
            &-name {
                width: 10rem;
            }
        }
        &-line {
            &-left {
                width: 100px;
                height: 1px;
                position: absolute;
                background-color: @white;
                top: 3rem;
                left: -100px;
            }
            &-right {
                width: 100px;
                height: 1px;
                position: absolute;
                background-color: @white;
                top: 3rem;
                right: -100px;    
            }
        }
        &-steps {
            b {
                .muliBold();
                font-size: 2rem;
                color: @white;
                display: inline-block;
            }
            &-item {
                position: relative;
                text-align: center;
                #reg {
                    top: 12px;
                    left: 5px;
                    width: 5rem;
                    height: 6rem;
                    background: url(../img/reg-now/reg.png) no-repeat;
                }
                #news {
                    top: 12px;
                    left: 5px;
                    width: 6rem;
                    height: 6rem;
                    background: url(../img/reg-now/news.png) no-repeat;
                }
                #easy {
                    top: 16px;
                    left: 5px;
                    width: 5rem;
                    height: 6rem;
                    background: url(../img/reg-now/easy.png) no-repeat;
                }
                &-icon {
                    display: block;
                    position: relative;
                }
                &-title {
                    font-size: 1.4rem;
                    color: @white;
                }                
            }
        }
    }
    .last-photo-and-utilies {
        padding: 5rem;
        position: relative;
        .muliReg();
        &-img {
            position: absolute;
            top: 40rem;
            right: 0;
        }
    }
    .last-photo {
        margin-bottom: 5rem;        
        p {
            color: @grey;
            text-align: center;
            font-size: 1.6rem;
            line-height: 30px;
            padding: 0 3rem;
        }
        .slider {
            margin-top: 3rem;
            &-item-photo {
                width: 32rem;
            }
        }
    }
    .utilities {
        margin-top: 3rem;
        .osReg();
        &-info {
            display: inline-block;
            width: 55%;
            p {
                font-size: 1.6rem;
                color: @grey;
                line-height: 35px;
                margin: 15px 0;
            }
        }
        .suppliers {
            width: 40%;
            display: inline-block;
            padding: 3rem 5rem;
            box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
            border-radius: 5px;
            h3 {
                .osBold();
                color: @dark-grey;
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 1rem;
                line-height: 35px;
            }
            .companies {
                div {
                    margin: 2.5rem 0;
                }
                .company {
                    text-decoration: underline;
                    color: @grey;
                    font-size: 1.6rem;
                }
                .circle {
                    position: relative;
                    display: inline-block;
                    width: 5rem;
                    height: 5rem;
                    background: url(../img/last-photo/Circle.png) no-repeat;
                    background-size: 100%;
                    margin-right: 2rem;
                    font-size: 1.6rem;
                    color: @green;
                    span {
                        position: absolute;
                        top: 30px;
                        left: 32px;
                    }
                }
            }
        }
    }
    .rates {
        .osReg();
        background: url(../img/rates/bg.png) no-repeat;
        background-size: cover;
        padding: 5rem 13rem;
        &-form {
            padding: 3rem;
            background: rgba(255, 255, 255, 0.94);
            border: 1px solid #86BC42;
            border-radius: 5px;
            &-inputs {
                width: 45%;
                h4 {
                    color: @dark-grey;
                    .osBold();
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                }
                input, label {
                    font-size: 1.6rem;
                    color: @dark-grey;
                }
                .num-input {
                    width: 100%;
                    border: 1px solid @dark-grey;
                    border-radius: 5px;
                    padding: 1rem 2rem;
                    margin-bottom: 1.3rem;
                }
                .radio-input-item {
                    display: inline-block;
                    margin-right: 3rem;
                    .container {
                        position: relative;
                        cursor: pointer;
                        padding-left: 2rem;
                        input:checked ~ .checkmark {
                            border: 1px solid @green;
                        }
                        .checkmark {
                            display: block;
                            position: absolute;
                            top: 6px;
                            left: 5px;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            border: 1px solid @dark-grey;
                        }
                        .checkmark::after {
                            display: none;
                            content: '';
                            position: absolute;
                        }
                        .checkmark:after {
                            top: 2px;
                            left: 2px;
                            width: 9px;
                            height: 9px;
                            border-radius: 50%;
                            background-color: @green;
                        }
                        input:checked ~ .checkmark:after {
                            display: block;
                        }
                    }
                    input {
                        opacity: 0;
                        position: absolute;
                    }
                }

            }
            &-info {
                width: 45%;
                padding-top: 2rem;
                span {
                    display: block;
                    font-size: 1.6rem;
                    color: @dark-grey;
                    margin-bottom: 2rem;
                }
                strong {
                    .osBold();
                    color: @dark-grey;
                    font-size: 1.8rem;
                }
                .attention {
                    margin-right: 3rem;
                    display: inline-block;
                    width: 7.5rem;
                    height: 3rem;
                    border: 1px solid @green;
                    border-radius: 50%;
                    font-size: 2.6rem;
                    text-align: center;
                    color: @green;
                    span {
                        font-size: 1.6rem;
                    }
                    &-box {
                        margin-top: 3rem;
                        strong {
                            .osReg();
                            font-weight: normal;
                            color: @green;
                        }
                    }
                }
            }
        }
    }
    .last-news {
        padding: 5rem;
        padding-right: 0;
        position: relative;
        &-bg {
            position: absolute;
            top: 40rem;
            left: 0;
            background: url(../img/last-news/bg.png) no-repeat;
        }
        .green-line {
            display: block;
            position: absolute;
            top: 15rem;
            left: 0;
            width: 4rem;
            height: 3px;
            background-color: @green;

        }
        .osReg();
        &-slider {
            margin-top: 3rem;
            &-info {
                width: 40%;
                h4 {
                    .muliBold();
                    color: @dark-grey;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    margin-top: 3rem;
                    margin-bottom: 3rem; 
                    line-height: 2.2rem;               
                }
                .info-text {
                    padding-left: 5rem;
                    font-size: 1.6rem;
                    color: @grey;
                    line-height: 2rem;
                    p {
                        line-height: 2rem;
                        margin-bottom: 2rem;
                    }
                    a {
                        text-decoration: none;
                    }
                    .green-arrow {
                        margin-left: 1rem;
                        background: @green;
                    }
                }
            }
            &-photo {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
    }
}
footer {
    .muliReg();
    .footer {
        &-title {
            h3 {
                .muliBold();
                color: @dark-grey;
                text-align: center;
                font-size: 2rem;
                strong {
                    text-transform: uppercase;
                    color: @green;
                }
                margin-bottom: 1.5rem;
            }
            padding: 1rem 3rem;
            width: 25%;
            button {
                border: none;
                background: none;
            }
            .img {
                width: 2rem;
                height: 2rem;
                margin-top: .7rem;
                margin-right: 1rem;
                &-twitter {
                    background: url(../img/footer/twitter.png) no-repeat;
                }
                &-facebook {
                    background: url(../img/footer/facebook.png) no-repeat;
                }
                &-telegram {
                    background: url(../img/footer/telegram.png) no-repeat;
                }
            }
        }
        &-text {
            color: @grey;
            p {
                margin-bottom: 1rem;
            }
        }
        &-nav-bg {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 13rem;
            height: 13rem;
            background: url(../img/footer/bg.png) no-repeat;
            background-size: 100%;
        }
        &-nav-contacts {
            .v-line {
                display: block;
                width: 1px;
                height: 9rem;
                background-color: @white;
                position: absolute;
                top: 6rem;
                left: 50rem;
            }
            position: relative;
            .osReg();
            width: 75%;
            padding: 3rem 8rem;
            background-color: @header-line;
            h4 {
                .muliBold();
                text-transform: uppercase;
                font-size: 1.4rem;
                color: @white;
                margin-bottom: 2rem;
            }
            nav {
                width: 60%;
                .check {
                    color: green;
                }
                .check:before {
                    background-color: @green;  
                }
                .check:after {
                    background-color: @green;  
                }
                .links {
                    div {
                        margin-right: 5rem;
                    }
                }                
                a {
                    position: relative;
                    color: @white;
                    text-decoration: none;
                    display: block;
                    font-size: 1.4rem;
                    margin-bottom: 0.8rem;
                }
                a:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 12px;
                    left: -30px;
                    width: 12px;
                    height: 2px;
                    background-color: @white;
                    transform: rotate(-45deg);
                }
                a:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: -30px;
                    width: 13px;
                    height: 2px;
                    background-color: @white;
                    transform: rotate(45deg);
                }
            }
            .contacts {
                width: 35%;
                &-item {
                    margin-bottom: 1rem;
                    font-size: 1.4rem;
                    color: @white;
                    .phone-img {
                        display: inline-block;
                        width: 1.5rem;
                        height: 1.5rem;
                        background: url(../img/footer/phone.png) no-repeat;
                        background-size: 100%;
                        margin-right: 1rem;
                    }.email-img {
                        display: inline-block;
                        width: 1.5rem;
                        height: 1.5rem;
                        background: url(../img/footer/email.png) no-repeat;
                        background-size: 100%;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }    
}