.wrapper {
  display: flex;
}
.wrapper-v-center {
  align-items: center;
}
.wrapper-g-center {
  justify-content: center;
}
.wrapper-col {
  flex-direction: column;
}
.wrapper-row {
  flex-direction: row;
}
.wrapper-space-beetween {
  justify-content: space-between;
}
.wrapper-f-start {
  justify-content: flex-start;
}
.wrapper-f-end {
  justify-content: flex-end;
}
