.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper-v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper-g-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wrapper-space-beetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper-f-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.wrapper-f-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}
