.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper-v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper-g-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.wrapper-space-beetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper-f-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.wrapper-f-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.eot');
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot');
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'), url('OpenSans-Bold.ttf') format('truetype'), url('OpenSans-Bold.woff') format('woff'), url('OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Regular';
  src: url('Muli-Regular.eot');
  src: url('Muli-Regular.eot?#iefix') format('embedded-opentype'), url('Muli-Regular.svg#Muli-Regular') format('svg'), url('Muli-Regular.ttf') format('truetype'), url('Muli-Regular.woff') format('woff'), url('Muli-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli-Bold';
  src: url('Muli-Bold.eot');
  src: url('Muli-Bold.eot?#iefix') format('embedded-opentype'), url('Muli-Bold.svg#Muli-Bold') format('svg'), url('Muli-Bold.ttf') format('truetype'), url('Muli-Bold.woff') format('woff'), url('Muli-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.green-button {
  border: none;
  background-color: #86bc42;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
}
.green-title {
  font-family: 'Muli-Regular', sans-serif;
  font-size: 1.6rem;
  color: #86bc42;
}
.section-line {
  display: block;
  width: 10rem;
  height: 1px;
  background-color: #6e788d;
  margin: 1rem auto;
  margin-bottom: 2.5rem;
}
h2 {
  font-size: 2rem;
  font-family: 'Muli-Bold', sans-serif;
  font-weight: bold;
  color: #6e788d;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 0.08em;
}
.slider-arrows {
  margin: 3rem 36%;
}
.Arrow-left {
  position: relative;
  width: 50px;
  height: 1px;
  background-color: #6e788d;
  display: block;
  cursor: pointer;
}
.Arrow-left div::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  top: -3px;
  left: -3.5px;
  background-color: #6e788d;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.Arrow-left div::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  top: 3px;
  left: -3.5px;
  background-color: #6e788d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.Arrow-right {
  position: relative;
  width: 50px;
  height: 1px;
  background-color: #6e788d;
  cursor: pointer;
  display: block;
}
.Arrow-right div::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  top: -3px;
  right: -3.5px;
  background-color: #6e788d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.Arrow-right div::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  top: 3px;
  right: -3.5px;
  background-color: #6e788d;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.switch {
  width: 6px;
  height: 6px;
  background-color: #6e788d;
  border-radius: 50%;
}
.switch-select {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #6e788d;
  border-radius: 50%;
}
header {
  font-family: 'OpenSans-Regular', sans-serif;
}
header .header-line {
  padding: 0 4rem;
  width: 100%;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #4b5464;
}
header .header-line .phone-number {
  margin-right: 3rem;
}
header .header-line .phone-number-img {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .5rem;
  background: url(../img/header/phone.png) center center no-repeat;
  background-size: cover;
}
header .header-line .email-img {
  display: inline-block;
  width: 1.5rem;
  height: 1.1rem;
  margin-right: .5rem;
  background: url(../img/header/email.png) center center no-repeat;
  background-size: cover;
}
header .header-line .title {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
  font-weight: 800;
}
header .header-line .title strong {
  text-transform: uppercase;
  color: #86bc42;
}
header .header-line .login {
  margin-right: 2rem;
}
header .header-line .login-img {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  margin-right: 1rem;
  background: url(../img/header/login.png) center center no-repeat;
}
header .header-line .reg-button {
  border: none;
  height: 4rem;
  background-color: #86bc42;
  font-size: 1.6rem;
  color: #ffffff;
  padding: 0 2.5rem;
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
}
header .header-nav {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 1.4rem;
  height: 3.5rem;
  padding: 0 7rem;
}
header .header-nav-link {
  color: #6e788d;
  text-decoration: none;
}
header .header-nav-link-selected {
  color: #86bc42;
}
main .regist-now {
  font-family: 'Muli-Regular', sans-serif;
  background: url(../img/reg-now/reg-now.png) center no-repeat;
  background-size: cover;
  padding: 8rem 10%;
}
main .regist-now-form {
  background: rgba(47, 45, 55, 0.25);
  padding: 4rem 15%;
}
main .regist-now-form h1 {
  font-family: 'Muli-Bold', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 145%;
}
main .regist-now-form h1 strong {
  font-size: 3.4rem;
}
main .regist-now-form form {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
main .regist-now-form form input {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 50px;
  border: 1px solid #8F8F8F;
  margin-right: 1.5rem;
}
main .regist-now-form form input:focus {
  outline: none;
}
main .regist-now-form-name {
  width: 10rem;
}
main .regist-now-line-left {
  width: 100px;
  height: 1px;
  position: absolute;
  background-color: #ffffff;
  top: 3rem;
  left: -100px;
}
main .regist-now-line-right {
  width: 100px;
  height: 1px;
  position: absolute;
  background-color: #ffffff;
  top: 3rem;
  right: -100px;
}
main .regist-now-steps b {
  font-family: 'Muli-Bold', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
  display: inline-block;
}
main .regist-now-steps-item {
  position: relative;
  text-align: center;
}
main .regist-now-steps-item #reg {
  top: 12px;
  left: 5px;
  width: 5rem;
  height: 6rem;
  background: url(../img/reg-now/reg.png) no-repeat;
}
main .regist-now-steps-item #news {
  top: 12px;
  left: 5px;
  width: 6rem;
  height: 6rem;
  background: url(../img/reg-now/news.png) no-repeat;
}
main .regist-now-steps-item #easy {
  top: 16px;
  left: 5px;
  width: 5rem;
  height: 6rem;
  background: url(../img/reg-now/easy.png) no-repeat;
}
main .regist-now-steps-item-icon {
  display: block;
  position: relative;
}
main .regist-now-steps-item-title {
  font-size: 1.4rem;
  color: #ffffff;
}
main .last-photo-and-utilies {
  padding: 5rem;
  position: relative;
}
main .last-photo-and-utilies-img {
  position: absolute;
  top: 40rem;
  right: 0;
}
main .last-photo-and-utilies .last-photo {
  margin-bottom: 5rem;
  font-family: 'Muli-Regular', sans-serif;
}
main .last-photo-and-utilies .last-photo p {
  color: #9ca3ab;
  text-align: center;
  font-size: 1.6rem;
  line-height: 30px;
  padding: 0 3rem;
}
main .last-photo-and-utilies .last-photo .slider {
  margin-top: 3rem;
}
main .last-photo-and-utilies .last-photo .slider-item-photo {
  width: 32%;
}
main .last-photo-and-utilies .utilities {
  margin-top: 3rem;
}
main .last-photo-and-utilies .utilities-info {
  font-family: 'Muli-Regular', sans-serif;
  display: inline-block;
  width: 50%;
}
main .last-photo-and-utilies .utilities-info p {
  font-size: 1.6rem;
  color: #9ca3ab;
  line-height: 35px;
  margin: 15px 0;
}
main .last-photo-and-utilies .utilities .suppliers {
  width: 45%;
  display: inline-block;
  padding: 3rem 6%;
  -webkit-box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
          box-shadow: 0px 4px 25px rgba(10, 8, 84, 0.15);
  border-radius: 5px;
  font-family: 'OpenSans-Regular', sans-serif;
}
main .last-photo-and-utilies .utilities .suppliers h3 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
  color: #6e788d;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 35px;
}
main .last-photo-and-utilies .utilities .suppliers .companies div {
  margin: 2.5rem 0;
}
main .last-photo-and-utilies .utilities .suppliers .companies .company {
  text-decoration: underline;
  color: #9ca3ab;
  font-size: 1.6rem;
  padding-left: 2rem;
}
main .last-photo-and-utilies .utilities .suppliers .companies .circle {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: url(../img/last-photo/Circle.png) no-repeat;
  background-size: 100%;
  font-size: 1.6rem;
  color: #86bc42;
}
main .last-photo-and-utilies .utilities .suppliers .companies .circle span {
  position: absolute;
  top: 40%;
  left: 40%;
}
main .rates {
  font-family: 'OpenSans-Regular', sans-serif;
  background: url(../img/rates/bg.png) no-repeat;
  background-size: cover;
  padding: 5rem 10%;
}
main .rates-form {
  padding: 3rem 7%;
  background: rgba(255, 255, 255, 0.94);
  border: 1px solid #86BC42;
  border-radius: 5px;
}
main .rates-form-inputs {
  width: 50%;
}
main .rates-form-inputs h4 {
  color: #6e788d;
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
main .rates-form-inputs input,
main .rates-form-inputs label {
  font-size: 1.6rem;
  color: #6e788d;
}
main .rates-form-inputs .num-input {
  width: 80%;
  border: 1px solid #6e788d;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-bottom: 1.3rem;
}
main .rates-form-inputs .radio-input-item {
  display: inline-block;
  margin-right: 3rem;
}
main .rates-form-inputs .radio-input-item .container {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
}
main .rates-form-inputs .radio-input-item .container input:checked ~ .checkmark {
  border: 1px solid #86bc42;
}
main .rates-form-inputs .radio-input-item .container .checkmark {
  display: block;
  position: absolute;
  top: 6px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #6e788d;
}
main .rates-form-inputs .radio-input-item .container .checkmark::after {
  display: none;
  content: '';
  position: absolute;
}
main .rates-form-inputs .radio-input-item .container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #86bc42;
}
main .rates-form-inputs .radio-input-item .container input:checked ~ .checkmark:after {
  display: block;
}
main .rates-form-inputs .radio-input-item input {
  opacity: 0;
  position: absolute;
}
main .rates-form-info {
  width: 45%;
  padding-top: 2rem;
}
main .rates-form-info span,
main .rates-form-info p {
  display: block;
  font-size: 1.6rem;
  color: #6e788d;
  margin-bottom: 2rem;
}
main .rates-form-info strong {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
  color: #6e788d;
  font-size: 1.8rem;
}
main .rates-form-info .attention-box {
  margin-top: 3rem;
}
main .rates-form-info .attention-box strong {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: normal;
  color: #86bc42;
}
main .rates-form-info .attention-icon {
  width: 6rem;
}
main .rates-form-info .attention-icon span {
  width: 3rem;
  height: 3rem;
  border: 1px solid #86bc42;
  border-radius: 50%;
  font-size: 2.6rem;
  text-align: center;
  color: #86bc42;
}
main .rates-form-info .attention-text {
  width: auto;
  font-size: 1.6rem;
  padding-left: 2rem;
}
main .last-news {
  padding: 5rem;
  padding-right: 0;
  position: relative;
  font-family: 'Muli-Regular', sans-serif;
}
main .last-news-bg {
  position: absolute;
  top: 40rem;
  left: 0;
  background: url(../img/last-news/bg.png) no-repeat;
}
main .last-news .green-line {
  display: block;
  position: absolute;
  top: 15rem;
  left: 0;
  width: 4rem;
  height: 3px;
  background-color: #86bc42;
}
main .last-news-slider {
  margin-top: 3rem;
}
main .last-news-slider-info {
  width: 45%;
}
main .last-news-slider-info h4 {
  font-family: 'Muli-Bold', sans-serif;
  font-weight: bold;
  color: #6e788d;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 2.2rem;
}
main .last-news-slider-info .info-text {
  padding-left: 5rem;
  font-size: 1.6rem;
  color: #9ca3ab;
  line-height: 2rem;
}
main .last-news-slider-info .info-text p {
  line-height: 2rem;
  margin-bottom: 2rem;
}
main .last-news-slider-info .info-text a {
  text-decoration: none;
}
main .last-news-slider-info .info-text .green-arrow {
  margin-left: 1rem;
  background: #86bc42;
}
main .last-news-slider-photo {
  width: 52%;
}
main .last-news-slider-photo img {
  width: 100%;
}
footer .footer-title {
  padding: 1rem 3rem;
  width: 25%;
}
footer .footer-title h3 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
  color: #6e788d;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
footer .footer-title h3 strong {
  text-transform: uppercase;
  color: #86bc42;
}
footer .footer-title button {
  border: none;
  background: none;
}
footer .footer-title .img {
  width: 2rem;
  height: 2rem;
  margin-top: .7rem;
  margin-right: 1rem;
}
footer .footer-title .img-twitter {
  background: url(../img/footer/twitter.png) no-repeat;
}
footer .footer-title .img-facebook {
  background: url(../img/footer/facebook.png) no-repeat;
}
footer .footer-title .img-telegram {
  background: url(../img/footer/telegram.png) no-repeat;
}
footer .footer-text {
  font-family: 'Muli-Regular', sans-serif;
  color: #9ca3ab;
}
footer .footer-text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer .footer-nav-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 13rem;
  height: 13rem;
  background: url(../img/footer/bg.png) no-repeat;
  background-size: 100%;
}
footer .footer-nav-contacts {
  position: relative;
  font-family: 'OpenSans-Regular', sans-serif !important;
  width: 75%;
  padding: 3rem 8rem;
  background-color: #4b5464;
}
footer .footer-nav-contacts .v-line {
  display: block;
  width: 1px;
  height: 9rem;
  background-color: #ffffff;
  position: absolute;
  top: 6rem;
  left: 53%;
}
footer .footer-nav-contacts h4 {
  font-family: 'Muli-Bold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
footer .footer-nav-contacts nav {
  width: 60%;
}
footer .footer-nav-contacts nav .check {
  color: green;
}
footer .footer-nav-contacts nav .check:before {
  background-color: #86bc42;
}
footer .footer-nav-contacts nav .check:after {
  background-color: #86bc42;
}
footer .footer-nav-contacts nav .links div {
  margin-right: 5rem;
}
footer .footer-nav-contacts nav a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
footer .footer-nav-contacts nav a:before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: -30px;
  width: 12px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
footer .footer-nav-contacts nav a:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: -30px;
  width: 13px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
footer .footer-nav-contacts .contacts {
  width: 35%;
}
footer .footer-nav-contacts .contacts-item {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #ffffff;
}
footer .footer-nav-contacts .contacts-item .phone-img {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/footer/phone.png) no-repeat;
  background-size: 100%;
  margin-right: 1rem;
}
footer .footer-nav-contacts .contacts-item .email-img {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/footer/email.png) no-repeat;
  background-size: 100%;
  margin-right: 1rem;
}
@media (max-width: 1680px) {
  main .rates {
    padding: 5rem 5%;
  }
  main .rates-form {
    padding: 5rem 5%;
  }
  main .utilities .suppliers {
    padding: 3rem 3% !important;
  }
}
@media (max-width: 1440px) {
  main .last-photo-and-utilies .utilities .suppliers .companies #comp1 span {
    top: 33%;
  }
  main .last-photo-and-utilies .utilities .suppliers .companies #comp2 span {
    top: 35%;
  }
  main .rates-form {
    padding: 5rem 3%;
  }
  main .last-news-slider-info .info-text {
    font-size: 1.4rem;
  }
  main .last-news-slider-info .green-title {
    font-size: 1.4rem;
  }
}
